@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
     <h2 class="Name">Meghav shah</h2>
     <h3 class="Student Id">500237810</h3>
<<<<<<< HEAD
     <h4 class="output">AFTER GIT PUSH</h4>
=======
    <h4 class="output">after git push</h4>
>>>>>>> 0002ea4b9360c78c8cd323c2ad2e7ed6527d4d2d
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
